<!DOCTYPE html>
<html>

<head>
  <style>
    @page: first {
      margin-top: 0;
    }

    body {
      margin-top: 1cm;
    }

    @media print {
      .page {
        page-break-after: always;
      }
    }

    th {
      border: 1px solid white;
    }

    td {
      border: 1px solid rgb(189, 180, 180);
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }
  </style>
</head>

<body>
  <div>
    <!-- TODO loop of data file -->
    <table>

      <thead>
        <tr style="background-color: #0E9AB5; color:white; font-weight: bold;">
          <!-- Affichage key from data -->
          <% for (const [key] of Object.entries(data[0])) { %>
          <th scope="col"><%= key.replace("_", " ").trim().replace(/^\w/, (c) => c.toUpperCase()); %></th>
          <% } %>
        </tr>
      </thead>

      <!-- object from data -->
      <tbody>
        <% for (const [key, object] of Object.entries(data)) { %>
        <tr>
          <!-- value from object -->
          <% for (const [key, value] of Object.entries(object)) { %>
          <td><%= value || 'null' %></td>
          <% } %>
        </tr>
        <% } %>
      </tbody>

    </table>
  </div>
</body>

</html>